section.avisNewsetter{
    margin: 2rem 0 7rem;
    background: url('../../assets/at-cinema.jpg') center/cover no-repeat;
    color: var(--color-white-pur);
    padding: 8rem 0rem 6rem;
    position: relative;
    height: 100%;
    width: 100vw;
}

section.avisNewsetter .aviss{
    margin: 2rem 0 5rem;
    overflow-x: hidden;
    position: relative;
    z-index: 30;
}

section.avisNewsetter .aviss .avis{
  width: 100%;
  padding: 0 20%;
  gap: 20%;
  text-align: center;
  min-width: 100%;
  transition: .4s ease;
}

section.avisNewsetter .aviss .avis .icon{
 font-size: 4rem;
 color: var(--color-secondary);
}

section.avisNewsetter .aviss .avis b{
  margin: 1.5rem 0;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.618);
}

section.avisNewsetter .aviss .avis p{
  font-weight: bold;
  color: white;
}

section.avisNewsetter .aviss .avis span{
  color: rgba(255, 255, 255, 0.718);
  font-weight: bold;
}


section.avisNewsetter .aviss .progressionBar{
  width: 45px;
  height: 7px;
  border-radius: 5px;
  margin: 0 auto;
  border:.2px solid var(--color-white-pur);
  position: relative;
  margin-bottom: 5px;
}

section.avisNewsetter .aviss .progressionBar span{
  position: absolute;
  width: 0%; height: 100%;
  top: 0; left: 0;
  background: var(--color-secondary);
  transition: var(--transition);
  border-radius: 5px;
}

section.avisNewsetter .newsletter{
  position: absolute;
  top: 85%;
  left: 4%;
  width: 90%;
  padding: 2rem;
  background: var(--color-secondary);
  border-radius: 10px;
  z-index: 30;
}

section.avisNewsetter .newsletterText{
  line-height: 35px;
  color: white;
}

section.avisNewsetter .newsletter h3{
  font-size: 2rem;
}

section.avisNewsetter .newsletter form{
  gap: 1rem;
  width: 50%;
}

section.avisNewsetter .newsletter form input{
  padding: .9rem;
  border-radius: 7px;
  width: 65%;
  color: black;
  font-size: 17px;
}

section.avisNewsetter .newsletter form .btn{
  padding: .8rem;
  background: white;
  color: #0c111b;
  font-size: .8rem;
  border-radius: 7px;
  gap: 5px;
  letter-spacing: 1px;
  justify-content: center;
  transition: var(--transition);
}

section.avisNewsetter .newsletter form .btn:hover{
  letter-spacing: normal;
}

section.avisNewsetter .newsletter form .btn .icon{
  font-size: 1.4rem;
}

section.avisNewsetter .overlay{
  background: rgba(0, 0, 0, 0.85);
}

@media (max-width: 1100px) {

  section.avisNewsetter .newsletter{
    white-space: nowrap;
    padding: 2rem 1rem;
  }

  section.avisNewsetter .newsletter h3{
    font-size: 1.7rem;
  }
}

@media (max-width: 950px) {

  section.avisNewsetter .aviss .avis{
    padding: 0 10%;
    gap: 20%;
  }

  section.avisNewsetter .newsletter{
    flex-direction: column;
    text-align: center;
    left: 3%;
    width: 92%;
  }

  section.avisNewsetter .newsletter form{
    margin-top: 1rem;
  }

  section.avisNewsetter .newsletter form{
    gap: 5%;
    width: 80%;
  }
}


@media (max-width: 550px) {
  section.avisNewsetter .aviss .avis{
    padding: 0 5%;
  }

  section.avisNewsetter .newsletter{
    top: 85%;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  section.avisNewsetter .newsletter{
    white-space: wrap;
    padding: 1rem .5rem;
    width: 94%;
    left: 3%;
  }

  section.avisNewsetter .aviss .avis{
    padding: 0;
    font-size: 15px;
    line-height: 22px;
  }

  section.avisNewsetter .aviss .avis p{
   font-weight:normal;
   margin-bottom: 10px;
  }

  section.avisNewsetter{
    margin: 2rem 0% 100%;
}

  section.avisNewsetter .newsletter h3{
    font-size: 1.2rem;
  }

  section.avisNewsetter .newsletter p{
    font-size: 1rem;
    line-height: 25px;
  }

  section.avisNewsetter .newsletter form {
    flex-direction: column;
    align-items: start;
  }

  section.avisNewsetter .newsletter input{
    min-width: 100%;
   margin-bottom: 1rem;
  }

  section.avisNewsetter .newsletter .btn{
   letter-spacing: .5px;
  }
}