section.services{
    margin: 4rem 0 5rem;
    color: var(--color-white-pur);
    padding: 0 5%;
    background: var(--color-section);
}

section.services h3{
    color: var(--color-secondary);
}

section.services .servicesTitle{
    margin: .5rem 0;
    font-size: 1.3rem;
    align-items: center;
    white-space: nowrap;
}

section.services .servicesTitle p{
    color: var(--color-secondary);
    font-size: 16px;
    gap: .5rem;
    transition: var(--transition);
    cursor: pointer;
    white-space: nowrap;
}

section.services .servicesTitle p:hover{
    color: var(--color-white-pur);
    gap: 1rem;
}

section.services p.description{
    font-size: 17px;
    color: var(--color-white-pur);
    width: 60%;
    margin-bottom: 2.5rem;
}

section.services .servicesContent{
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
    gap: 3%;
}

section.services .servicesContent .serviceContent{
   border: 1px solid var(--color-white-pur);
    border-radius: 5px;
    padding: 1.5rem .4rem;
    transition: var(--transition);
}
section.services .servicesContent .serviceContent:hover .icon{
   transform: translateY(-15px);
}

section.services .servicesContent .serviceContent:hover{
  background: var(--color-secondary);
  border: none;
  color: white;
  box-shadow: 3px 3px 3px 3px var(--color-secondary);
}

section.services .servicesContent .serviceContent .icon{
   font-size: 3rem;
   transition: .2s ease;
}

section.services .servicesContent .serviceContent h3{
   margin: .5rem 0;
   transition: var(--transition);
}

section.services .servicesContent .serviceContent:hover h3{
   color: var(--color-white-pur);
}

@media (max-width: 900px) {
    section.services .servicesContent{
        grid-template-columns: 1fr 1fr  ;
    }

    section.services p.description{
        width: 90%;
    }
}

@media (max-width: 500px) {
    section.services{
        padding: 0 5%;
    }
    
    section.services .servicesContent{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}


@media (max-width: 470px) {
    section.services p.description{
        width: 100%;
        font-size: 15px;
    }

    section.services .servicesTitle{
        font-size: 1rem;
    }

    section.services .servicesTitle p{
        font-size: 13px;
    }

    section.services .servicesContent{
        white-space: wrap;
        white-space: wrap;
    }

    section.services .servicesContent .serviceContent{
        padding: 1.2rem .5rem;
     }

    section.services .servicesContent .serviceContent p{
        font-size: 15px;
    }

    section.services .servicesContent .serviceContent .icon{
        font-size: 2rem;
    }
}



















