.slides .slideState{
    position: absolute;
    justify-content: start;
    bottom: 1.5rem; left: 9%;
    gap: .6rem;
    align-items: center;
}

.slides .slideState .buttons{
    gap: 8px;
}

.slides .slideState span{
    position: relative;
    width: 5px;
    border: .3px solid rgb(255, 255, 255);
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    transition: var(--transition);
}

.slides .slideState .icon{
    fill: rgb(255, 255, 255);
    border: .3px solid rgb(255, 255, 255);
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 1.5rem;
}

.slides .slideState .icon:hover{
    background-color: rgb(255, 255, 255);
    fill: #0c111b;
}