button.btnComponent {
    margin-top: 40px;
    padding: 15px;
    background-color: var(--color-primary);
    border: .5px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px 25px 25px 15px;
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-white-pur);
    font-weight: bold;
    font-size: 1rem;
    gap: 1rem;
    box-shadow: 1px 1px 1px white;
}
  
button.btnComponent:hover {
   gap: 2rem;
}