.chainesListing{
    padding: 1rem 5%;
    color: var(--color-white-pur);
}

.chainesListing .categories{
    gap: .5rem;
    justify-content: center;
    position: fixed;
    width: 90%;
    background: var(--color-primary);
    z-index: 10;
    padding: 20px 0 10px;
    top: 4.5rem;
    left: 5%;
    justify-content: center;
}

.chainesListing .categories .categorie{
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.383);
    padding: 10px 24px 8px;
    white-space: nowrap;
    font-weight: bold;
    transition: .3s ease;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.527);
}

.chainesListing .categories .categorie:hover,.chainesListing .categories .categorie:active,  .chainesListing .categories .categorie:focus{
   background: var(--color-secondary);
   color: white;
   border: none;
}

.chainesListing .chaineListing{
    padding: 7.5rem 0 0;
    
}

.chainesListing .chaineListing h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.chainesListing .chaineListing h2::before{
    width: 40px;
    height: 4px;
    background: var(--color-secondary);
    top: 96%;
    border-radius: 5px;
}

.chainesListing .chaineListing .chainesElements{
   grid-template-columns: repeat(4, 1fr);
   gap: 2.5%;
}

.chainesListing .chaineListing .chainesElements .chaineElement{
   width: 100%;
   position: relative;
}

.chainesListing .chaineListing .chainesElements .chaineElement img{
   transition: var(--transition);
}

.chainesListing .chaineListing .chainesElements .chaineElement:hover img{
   transform: scale(1.05);
}

.chainesListing .chaineListing .chainesElements .chaineElement img{
    height: 350px;
    border-radius: 10px;
    width: 100%;
}

.chainesListing .chaineListing .chainesElements .chaineElement .chaineContents{
    position: absolute;
    left: 5%;
    bottom: 10%;
    background: rgba(0, 0, 0, 0.383);
    border-radius: 10px 10px 0 0;
    width: 90%;
    color: white;
    padding: 10px 5%;
}

.chainesListing .chaineListing .chainesElements .chaineElement .chaineContents h4{
    font-size: 1.4rem;
}

.chainesListing .chaineListing .chainesElements .chaineElement .chaineContents p{
    font-size: 15px;
    color: rgba(250, 235, 215, 0.739);
}

.chainesListing button{
    background: var(--color-secondary);
    padding: 10px 20px;
    color: white;
    margin-top: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
}

@media (max-width: 1050px) {
    .chainesListing .categories{
        gap: .5rem;
        justify-content: center;
        position: fixed;
        width: 90%;
        background: var(--color-primary);
        z-index: 10;
        padding: 30px 0 10px;
        top: 4.5rem;
        left: 5%;
        justify-content: start;
        overflow-x: scroll;
    }

    .chainesListing .categories .categorie{
        padding: 5px 15px;
    }

    .chainesListing .chaineListing .chainesElements{
        grid-template-columns: repeat(2, 1fr);
     }
}

@media (max-width: 600px) {

    .chainesListing .chaineListing .chainesElements{
        grid-template-columns: repeat(1, 1fr);
     }

     .chainesListing{
        padding: 0rem 5%;   
    }

    .chainesListing .categories{
        padding: 20px 5px 10px;
        top: 4.5rem;
        left: 3%;
    }

    .chainesListing .categories .categorie{
        padding: 5px 15px;
    }

    .chainesListing .chaineListing{
        padding: 9rem 0 0;
    }
}

@media (max-width: 480px){
    .chainesListing .categories{
        padding: 13px 0px 10px;
        top: 3.6rem;
    }
} 