section.promotion{
    margin: 4rem 0 5rem;    
    color: var(--color-white-pur);
    padding: 0 5%;
    background: var(--color-section);
}

section.promotion h1{
    text-align: center;
    color: var(--color-white-pur);
    font-size: 2.3rem;
    margin: 2rem 0;
}

section.promotion .promotionsContent{
    width: 100%;
    gap: 5%;
}

section.promotion .promotionContent{
    border-radius: 10px;
    padding: 12rem 2rem 2rem;
    position: relative;
}

section.promotion .promotionContent .promotionText{
    position: relative;
    z-index: 30;
    color: white;
}

section.promotion .promotionContent h3{
    font-size: 1.5rem;
}

section.promotion .promotionContent a{
    color: var(--color-secondary);
    font-weight: bold;
    margin-top: 20px;
}


section.promotion button{
    padding: 15px 20px;
    border-radius: 7px;
    background: var(--color-secondary);
    margin: 2rem auto;
    color: white;
    font-size: 1rem;
    transition: var(--transition);
}

section.promotion button:hover{
   gap: 2rem;
}

@media (max-width: 800px) {
    section.promotion .promotionContent{
        padding: 8rem 2rem 1rem;
    }

    section.promotion .promotionsContent{
        flex-direction: column;
        gap: 2rem;
    }

    section.promotion .promotionContent::after{
        background: linear-gradient(transparent, transparent, 80% rgba(0, 0, 0, 0.3));
    }
}

@media (max-width: 470px) {
    section.promotion{
        padding: 0 2.5%;
    }

    section.promotion h1{
        font-size: 1.8rem;
    }

    section.promotion .promotionContent p{
        font-size: 14px;
    }

    section.promotion .promotionContent h3{
        font-size: 1rem;
    }

    section.promotion button{
        font-size: .8rem;
        padding: 10px 15px;
    }
    
}