footer.footer{
    background: #000000;
    margin: 10rem 0% 0;
    color: white;
    padding: 3rem 5% 2rem;
    border-radius: 15px 15px 0 0;
}

footer.footer .footerContent{
    margin-bottom: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
}

footer.footer .footerContent img{
    border-radius: 5px;

}

footer.footer .footerContent .lists{
    gap: 20px;
    white-space: nowrap;
}

footer.footer .footerContent li{
    cursor: pointer;
    transition: var(--transition);
    white-space: nowrap;
}

footer.footer .footerContent ul .link::before{
    background-color: white;
    left: 0px; top: 95%;
    border-radius: 0 5px 5px 0;
    width: 30px; height: 3px;
    transform: translateX(-10px);
    opacity: 0;
    transition: var(--transition);
}

footer.footer .footerContent .link.active::before,footer.footer .footerContent .link:hover::before{
    transform: translateX(0);
    opacity: 1;
}

footer.footer .footerContent .link.active p{
    color: var(--color-secondary);
}

footer.footer .footerContent .link.active::before{
    background-color: var(--color-secondary);
}

footer.footer .footerContent .icons{
    font-size: 2rem;
    gap: 15px;
    max-width: 200px;
}

footer.footer .footerContent .icons .icon{
    background: var(--color-secondary);
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: var(--transition);
}

footer.footer .footerContent .icons .icon:hover{
    background: white;
    color: var(--color-secondary);
    transform: scale(.9) rotate(3deg);
}

footer.footer .footerSub::before{
    top: -2rem;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}

footer.footer .footerSub p{
    font-size: 15px;
    cursor: pointer;
}


@media (max-width: 1050px) {
    footer.footer .footerContent .lists{
        gap: 10px;
    }
}

@media (max-width: 900px) {
    footer.footer .footerContent{
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
    }
}

@media (max-width: 750px) {
    footer.footer .footerContent{
        grid-template-columns: 1fr;
        row-gap: 1rem;
        width: 80%;
    }

    footer.footer .footerContent .icons{
        width: 50%;
    }
}

@media (max-width: 500px) {
    footer.footer .footerContent{
        grid-template-columns: 1fr;
        row-gap: 1rem;
        width: 80%;
    }

    footer.footer .footerContent .lists{
        flex-direction: column;
        align-items: start;
        white-space: wrap;
        max-width: 50%;
    }

    footer.footer .footerContent ul .link{
        padding-left: 10px;
    }

    footer.footer .footerContent ul .link::before{
        left: -5px; top: 0;
        width: 3px; height: 100%;
    }
    
}

@media (max-width: 480px){
    footer.footer .footerContent .lists{
       margin-top: 20px;
    }

    footer.footer .footerContent .icons{
        width: 90%;
        margin: 20px 0;
    }

    footer.footer .footerContent .icons .icon{
        font-size: 6rem;
        padding: 7px 0;
        max-height: 35px;
    }

    footer.footer .footerSub{
        flex-direction: column;
        gap: 10px;
    }
}